<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MCQ Quiz</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='quiz.css') }}">
</head>
<body>
  <nav>
    <div class="logo">KAB00M!</div>
    <div class="nav-items">
      <a href="/">Logout</a>
      <a href='/studentforum'>StudentForum</a>
      <a href='/page'>Subjects page</a>
    </div>
  </nav>

  <div id="page-container">
    <h1>MCQ Quiz</h1>
    <div id="quiz-container"></div>
    <button id="submit-btn">Submit Quiz</button>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  
  
</body>
</html>
